<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZ5OCsx9nLlPhFWBVFcJueYAiSeNyknBc</string>
	<key>GCM_SENDER_ID</key>
	<string>29983981225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cuichanwu.MISS</string>
	<key>PROJECT_ID</key>
	<string>miss-app-ff7d1</string>
	<key>STORAGE_BUCKET</key>
	<string>miss-app-ff7d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29983981225:ios:9733326fd1d3aa803b33b8</string>
</dict>
</plist>